@import url('https://fonts.googleapis.com/css?family=Indie%20Flower');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rootContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.rootContent > div {
  height: 100%;
}

.leftBoard,
.middleBoard,
.rightBoard {
  font-family: 'Indie Flower', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  padding: 0 1em 0 1em;
  text-align: center;
  width: 100%;
}

.leftBoard {
  border-right: dashed 3px #41403E;
}

.middleBoard {}

.rightBoard {
  border-left: dashed 3px #41403E;
}
